$background-dark: #e6c9e6;
$text-color: #1f1a38;
$highlight-color: #1f1a38;
$link-hover: #C8A2C8;
$container-max-width: 1200px;
$font-heading: "Bowlby One SC", serif;

@mixin flex-center($direction: row, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin responsive-font($size) {
  font-size: $size;

  @media (max-width: 768px) {
    font-size: $size * 1.2;
  }
}

body {
  background-color: $background-dark;
  color: $text-color;
  margin: 0;
  padding: 0;
  font-family: Urbanist, sans-serif;
  overflow-x: hidden;  /* Blocca lo scroll orizzontale */
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: $background-dark;
  width: 100%; /* Occupa tutta la larghezza dello schermo */
  left: 0;
  right: 0;

  ul {
    @include flex-center(row, 20px);
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;

    li {
      margin: 0 20px;

      a {
        text-decoration: none;
        color: $text-color;
        font-weight: bold;
        @include responsive-font(18px);
        padding: 10px 20px;
        transition: background-color 0.3s ease;
        display: block; /* Rende il link un blocco intero */
        width: 100%; /* Impedisce che si allarghi al passaggio del mouse */

        &:hover {
          background-color: $link-hover;
          border-radius: 5px;
          padding-left: 20px; /* Mantiene l'integrità del layout */
          padding-right: 20px; /* Impedisce espansioni non volute */
        }
      }
    }
  }

  /* STILI PER MOBILE */
  @media (max-width: 768px) {
    padding: 5px 0; /* Ridotto ancora il padding verticale */

    ul {
      flex-direction: column;
      gap: 5px; /* Minore spazio tra i link */

      li {
        margin: 2px 0; /* Minore margine tra i link */

        a {
          font-size: 8px; /* Ridotto il font per mobile */
          padding: 5px 10px; /* Reso più compatto */
        }
      }
    }
  }
}


.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 20px;

  @media (max-width: 768px) {
    padding: 15px;
    width: 100%;
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
  margin-bottom: 20px;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: 768px) {
    gap: 10px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.bio-container {
  @include flex-center(row, 20px);
  width: 100%;
  max-width: 990px;
  margin: 0 auto;

  .bio-photo img {
    width: 450px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #1f1a38;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  
    @media (max-width: 768px) {
      width: 325px; 
      display: block;
      margin: 0 auto; 
    }
}

  .bio-text {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
    margin: 15px 0;
    letter-spacing: 1px;

    @media (max-width: 768px) {
      font-size: 15px;
      width: 325px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

h1 {
  font-family: "Bowlby One SC", sans-serif;
  text-align: center;
  color: $highlight-color;
  letter-spacing: 10px;
  margin-top: 40px;
  font-size: 90px;

  @media (max-width: 768px) {
    font-size: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}

h2 {
  margin-bottom: 5px;
  font-size: 50px;
  text-align: left;
  letter-spacing: 5px;
  color: $highlight-color;
  padding: 20px;

  @media (max-width: 768px) {
    font-size: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}

h3 {
  color: rgb(184, 12, 184);
  text-align: left;
  padding-left: 20px;
  letter-spacing: 3px;
  font-weight: 900;

  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

p {
  color: $text-color;
}

.paragrafo {
  padding-left: 20px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  width: 1450px;
  line-height: 1.6;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 0;
  }
}

.contact-form {
  max-width: 600px;  /* Mantieni la larghezza massima su desktop */
  width: 100%;  /* Imposta la larghezza su 100% per dispositivi mobili */
  padding: 30px;
  background-color: #623956;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 100px auto;
  box-sizing: border-box;

  h2 {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: left;
    color: #C8A2C8;
    letter-spacing: 5px;
  }

  label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #ffffff;
    letter-spacing: 2px;
  }

  input,
  textarea {
    height: 40px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #7b506f;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #ff00b7;
    }
  }

  textarea {
    resize: vertical;
    min-height: 150px;
    height: auto;
  }

  button {
    margin-top: 20px;
    width: 100%;
    background-color: #1f1a38;
    color: white;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: black;
    }
  }

  @media (max-width: 768px) {
    max-width: 100%;  /* Occupa quasi tutta la larghezza del dispositivo mobile */
    padding: 10px;
    margin: 40px auto;
    align-items: stretch;
  
    input,
    textarea {
      height: 40px; /* Altezza più consistente */
      width: 100%; /* Stessa larghezza del bottone */
      box-sizing: border-box; /* Evita che padding e border allarghino l'elemento */
    }
  
    textarea {
      min-height: 85px; /* Imposta un'altezza minima adeguata */
      resize: vertical; /* Permette di ridimensionare solo verticalmente */
    }
  
    button {
      font-size: 14px;  
      width: 100%; /* Stessa larghezza degli input e textarea */
    }
  }
  

.main-content {
  padding: 1rem;
}

.works-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  .link-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    background-color: #623956;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .works-photo img {
      width: 200px;
      height: auto;
      margin-right: 15px;
      border-radius: 5px;
    }

    .works-text {
      font-size: 18px;
      line-height: 1.5;
      text-align: left;
      margin: 0;
    }

    .works-text p {
      color: #ffffff;
      
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    @media (max-width: 768px) {
      max-width: 90%;
    }
  }
}

.griglia-immagini {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.riga {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.riga img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

.spazio-vuoto-social {
  height: 100px;
}

@media (max-width: 768px) {
  .griglia-immagini {
    flex-direction: column;
  }

  .riga img {
    width: 90%;
    max-width: 350px;
  }

  .bio-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .paragrafo {
    width: 100%;
    padding-left: 0;
  }

  .contact-form {
    max-width: 90%;
    padding: 20px;
    margin: 50px auto;

    h2 {
      font-size: 30px;
    }

    input,
    textarea {
      height: 50px;
    }

    button {
      font-size: 14px;
    }
  }

  body {
    padding: 0 15px;
  }

  .container {
    padding: 15px;
    width: 100%;
  }

  .works-container .link-container {
    max-width: 90%;
  }
}